.footer {
    background-color: #161F49;
}
.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.logo-footer {
    fill: #ffffff;
}