@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.promo {
  background-color: #161F49;
  padding-top: 5px;
  padding-bottom: 5px;
}

.promo-text {
  margin: 0;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.10998px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-left: 36px;
  margin-right: 177px;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
}

.nav-list .link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.10998px;
  color: #404040;
}

.nav-list li {
  margin-right: 33px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.header-button {
  padding: 27px 64px;
  background-color: #2468FF;
  border: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  letter-spacing: 0.10998px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1410px;
  height: 687px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__info {
  margin: 0;
  text-align: center;
  width: 1410px;
  height: 591px;
  padding-top: 120px;
  padding-right: 470px;
  padding-bottom: 271px;
  padding-left: 470px;
  background-image: url(../images/children.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.38;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.hero__button {
  padding: 16px 37px 21px 37px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.hero__img {
  position: absolute;
  bottom: -44px;
  left: 432px;
}

.advertising {
  text-align: center;
  cursor: pointer;
}
.advertising__title {
  margin-top: 120px;
  width: 729px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  display: inline-block;
}

.amazon {
  text-align: center;
  padding-top: 90px;
}
.amazon__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
}
.amazon__icon {
  margin-top: 21px;
  margin-bottom: 28px;
}
.amazon__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: rgb(64, 64, 64);
  text-decoration: none;
}
.amazon__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(64, 64, 64);
}

.eero {
  text-align: center;
  display: inline-block;
}
.eero__text {
  margin-top: 44px;
  width: 736px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #404040;
}
.eero__button {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 104, 255);
  border: transparent;
  margin-top: 78px;
  padding: 21px 37px;
  cursor: pointer;
}

.footer {
  background-color: #161F49;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer {
  fill: #ffffff;
}/*# sourceMappingURL=index.css.map */