
<section class="container">
    <div class="advertising">
<div class="amazon">
    <p class="amazon__text">Explore eero systems on</p>
    <div><svg class="amazon__icon" width="108" height="33">
        <use href="./images/symbol-defs.svg#icon-logo-orange"></use>
    </svg></div>
    <a class="amazon__link" href="https://rozetka.com.ua/">SHOP NOW</a>
</div>

    <h2 class="advertising__title">More wifi for the devices in your connected home.</h2>

    <div class="eero">
    <p class="eero__text">eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s efficiency, and reduce
    network congestion. Say goodbye to dead spots and buffering with a connection that doesn’t slow you down, even as
    you add more devices.</p>
    <button class="eero__button" type="button">FIND YOUR EERO SYSTEM</button>
  </div>

    <img src="./images/people.jpg" alt="office" width="928" height="747"></image>
</div>
</section>
