<footer class="container footer">
<div >
    <a href=""><svg width="86" height="39" class="logo-footer">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg></a>

    <div class="footer__links">
        <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="">Products</a></li>
        <li class="footer__item"><a class="footer__link" href="">How it works</a></li>
        <li class="footer__item"><a class="footer__link" href="">Technology</a></li>
        <li class="footer__item"><a class="footer__link" href="">eero Secure</a></li>
        <li class="footer__item"><a class="footer__link" href="">Support</a></li>
        <li class="footer__item"><a class="footer__link" href="">Find Your System</a></li>
        <li class="footer__item"><a class="footer__link" href="">Cookie preferences</a></li>
    </ul>
    <ul>
        <li class="footer__item"><a class="footer__link" href="">Shop</a></li>
        <li class="footer__item"><a class="footer__link" href="">Careers</a></li>
        <li class="footer__item"><a class="footer__link" href="">Blog</a></li>
        <li class="footer__item"><a class="footer__link" href="">Media room</a></li>
        <li class="footer__item"><a class="footer__link" href="">Legal</a></li>
        <li class="footer__item"><a class="footer__link" href="">Custom installer</a></li>
        <li class="footer__item"><a class="footer__link" href="">Where to buy</a></li>
        <li class="footer__item"><a class="footer__link" href="">eero for Service Providers</a></li>  
    </ul>
    <div class="footer__backend">
        <h2 class="footer__title">Connect with us</h2>
        <p class="footer__text">For the latest eero news and promotions.</p>
        <form class="footer__form">
            <label class="footer__label" >
                <input class="footer__input" type="email" placeholder="EMAIL" required>
            </label>
             <button class="footer__button" type="submit">SUBMIT</button>
        </form>
    </div></div>
    
<div class="footer__social">
 <p class="footer__copyright">©️ 2021 EERO LLC, SAN FRANCISCO, CA</p>
   <ul class="footer__social-icons">
    <li><a href="https://m.facebook.com/login/?locale2=ru_RU"><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg></a></li>
    <li><a href="https://www.instagram.com/accounts/login/"><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-instagram"></use></svg></a></li>
    <li><a href=""><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a></li>
    <li><a href=""><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-Frame"></use></svg></a></li>
    <li><a href=""><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-bird"></use></svg></a></li>
   </ul>
</div>
  
</div>
</footer>