<footer class="container">
<div class="footer">
    <a href=""><svg width="86" height="39" class="logo-footer">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg></a>
    <ul>
        <li><a href="">Products</a></li>
        <li><a href="">How it works</a></li>
        <li><a href="">Technology</a></li>
        <li><a href="">eero Secure</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Find Your System</a></li>
        <li><a href="">Cookie preferences</a></li>
    </ul>
    <ul>
        <li><a href="">Shop</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Media room</a></li>
        <li><a href="">Legal</a></li>
        <li><a href="">Custom installer</a></li>
        <li><a href="">Where to buy</a></li>
        <li><a href="">eero for Service Providers</a></li>  
    </ul>
    <div>
        <h2>Connect with us</h2>
        <p>For the latest eero news and promotions.</p>
        <form>
            <label for="">
                <input type="email" placeholder="EMAIL" required>
            </label>
             <button type="submit">SUBMIT</button>
        </form>
    </div>
   <p>©️ 2021 EERO LLC, SAN FRANCISCO, CA</p>
   <ul>
    <li><a href="https://m.facebook.com/login/?locale2=ru_RU"><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg></a></li>
    <li><a href="https://www.instagram.com/accounts/login/"><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-instagram"></use></svg></a></li>
    <li><a href=""><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-linkedin"></use></svg></a></li>
    <li><a href=""><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-Frame"></use></svg></a></li>
    <li><a href=""><svg width="30" height="30"><use href="./images/symbol-defs.svg#icon-bird"></use></svg></a></li>
   </ul>
</div>
</footer>