<header>
    <div class="container">
        <div class="promo"> <a href=""><p class="promo-text">Free 2-day shipping | 30-day money back guarantee</p></a></div>
    <div class="navigation"> 
         <nav class="site-nav" >
        <a href=""><svg width="107" height="49" class="logo-header">
    <use href="./images/symbol-defs.svg#icon-logo"></use>
</svg></a>
<ul class="nav-list">
    <li class="list"> <a href="" class="link">Products</a></li>
    <li class="list"> <a href="" class="link">How it works</a></li>
    <li class="list"> <a href="" class="link">Technology</a></li>
    <li class="list"> <a href="" class="link">eero Secure</a></li>
    <li class="list"> <a href="" class="link">Support</a></li>
    <li class="list"> <a href="" class="link">Find your system</a></li>
</ul>
    </nav>
<button class="header-button" type="button">Shop</button></div>
      
    </div>
</header>