<section class=" section experts"> 
            <div class="container experts__container">
            <h1 class="experts__title title">The experts are in.</h1>
            <p class="experts__text text">
              Our team is just a (toll-free) phone call, email, or tweet away.
            </p>
            <button type="button" class="help-button">Help center</button>
          </div>
          <div class="benefits">
            <ul class="benefits__list">
              <li class="benefits__item">
                <a href="/" class="benefits__link">
                  <svg class="benefits__icon" width="36" height="36">
                    <use href="./images/symbol-defs.svg#icon-Frame-four"></use>
                  </svg>
                  30-day guarantee
                </a>
              </li>
              <li class="benefits__item">
                <a href="/" class="benefits__link">
                  <svg class="benefits__icon" width="36" height="36">
                    <use
                      href="./images/symbol-defs.svg#icon-Frame-three"
                    ></use></svg
                  >Free support
                </a>
              </li>
              <li class="benefits__item">
                <a href="/" class="benefits__link">
                  <svg class="benefits__icon" width="36" height="36">
                    <use
                      href="./images/symbol-defs.svg#icon-Frame-five"
                    ></use></svg
                  >Free shipping
                </a>
              </li>
              <li class="benefits__item">
                <a href="/" class="benefits__link">
                  <svg class="benefits__icon" width="36" height="36">
                    <use
                      href="./images/symbol-defs.svg#icon-Frame-six"
                    ></use></svg
                  >1-year warranty
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>