<section class="section love-wifi">
        <div class="container love-wifi__container">
          <h1 class="love-wifi__title title">
            Turns out, people love great wifi.
          </h1>
          <div class="love-wifi__info">
            <img src="./images/family.jpg" alt="family" width="720" />
            <div class="love-wifi__settings">
              <nav>
                <ul class=" love-wifi__nav list">
                  <li
                    class="item love-wifi__item love-wifi__item-active"
                  >
                    <a href="/" class="love-wifi__link link-active"
                      >Setup</a
                    >
                  </li>
                  <li class="item love-wifi__item">
                    <a href="/" class="love-wifi__link link"
                      >Coverage</a
                    >
                  </li>
                  <li class="item love-wifi__item">
                    <a href="/" class="love-wifi__link settings-nav link"
                      >Reliability</a
                    >
                  </li>
                  <li class="item love-wifi__item">
                    <a href="/" class="love-wifi__link settings-nav link"
                      >Security</a
                    >
                  </li>
                </ul>
              </nav>
              <p class="love-wifi__text text">
                Setting up our eeros was a <br />
                breeze thanks to the plug and <br />
                play installation. The whole <br />
                experience was life changing <br />
                compared to other routers we’ve <br />
                used.
              </p>
              <p class="love-wifi__family family-name">The Rankins</p>
              <p class="love-wifi__address family-address">
                Seattle, WA | 4 Bedroom house <br />
                3,300 sq. ft. <br />
                16 connected devices <br />
                Use eero 3-pack
              </p>
              <button type="button" class="shop-button">
                Shop all eero systems
              </button>
            </div>
          </div>
          </section>